<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
      akka {
         loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
         stdout-loglevel = INFO
         actor{
           serializers {
             wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
           }
           serialization-bindings {
             "System.Object" = wire
           }
           #serialize-messages=on
           #serialize-creator=on
           provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
         }
         
         remote {
           log-remote-lifecycle-events = DEBUG
           log-received-messages = off
           helios.tcp {
             transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
             hostname = "10.0.2.165"
             port = 0
           }
        }
         
         cluster {
           seed-nodes =  ["akka.tcp://RemoteDeploy@10.0.2.165:8095"] 
           roles = [worker]
         }
      }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>